
<ion-header>

  <ion-navbar>
    <ion-title>Place</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <sebm-google-map [latitude]="lat" [longitude]="lng">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  </sebm-google-map>
  <button ion-button block (click)="onDismiss()">Dismiss</button>

</ion-content>
