<!--
  Generated template for the NewPlace page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add new place</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="onPlaceAdd(f.value)" #f="ngForm">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" name="title" ngModel required></ion-input>
    </ion-item>
    <button ion-button block type="submit" [disabled]="!f.valid">Add place</button>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col><button ion-button block (click)="onLocateUser()">Locate me</button></ion-col>
    </ion-row>

    <ion-row>
      <!--<ion-col>Your Location: {{location?.coords.latitude }} / {{location?.coords.longitude}}</ion-col>-->
    </ion-row>
  </ion-grid>
</ion-content>
