<ion-header>
  <ion-navbar>

    <ion-buttons end>
      <button ion-button icon-only (click)="onLoadNewPlace()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Awesome places
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item *ngFor="let place of places">
      <p (click)="onPlaceOpen(place)">{{place.title}}</p>
        <button ion-button icon-only (click)="onDeletePlace(place)" end>
          <ion-icon name="egg" end></ion-icon>
        </button>


      </ion-item>
    </ion-list>

</ion-content>
